
@font-face {
  font-family: 'Myriad Set Pro Thin';
  src: url('../../assets/fonts/MyriadSetPro-Thin.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/MyriadSetPro-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/MyriadSetPro-Thin.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/MyriadSetPro-Thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/fonts/MyriadSetPro-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../assets/fonts/MyriadSetPro-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

html, body{
}
html {
    background: #FFFFFF;
    height: 100%!important;
}

$font: 'PT Sans', sans-serif;
$bold: 'Myriad Set Pro Bold';
$ubuntu: 'Ubuntu', sans-serif;
$black: #222222;
$less-black: #989898;
$pink: #fa508c;
$orange: #ffc86d;
$blue: #81a0fa;
$g1: linear-gradient(
      to right, 
      #fa508c, #ffc86d
    );
$g2: linear-gradient(to right, #3674ef, #23a5f1);
$g3: linear-gradient(to right, #000, #000);

ol, ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    display: inline-block;
}

a{
    color: $less-black;
    text-decoration: none;
}

input{
    &:focus{
        border: 0;
        outline: 0;
    }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

img{
    max-width: 100%;
    max-height: 100%;
}

button{
    border: 0;
    cursor: pointer;
    &:focus{
        outline: none;
    }
}

.button{
    display: inline-block;
    float: right;
    position: relative;
    top: -15px;
}

.rl-container{
    position: relative;
}

.boxed{
    
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.26);
    -moz-box-sizing: border-box;
}

.slow{
    transition: all .2s ease-in-out;
}

.row{
    width: 1124px;
    margin: 0 auto;
}

.center{
    text-align: center;
}

.spacer.huge{height: 20vh;}
.spacer.big{height: 10vh;position: relative;}


// SEARCH